[submodule "hw02&03-bigint"]
	path = hw02&03-bigint
	url = https://github.com/cannor147/itmo-cpp-bigint
[submodule "hw04-huffman"]
	path = hw04-huffman
	url = git@github.com:cannor147/itmo-cpp-huffman
[submodule "hw05-substr"]
	path = hw05-substr
	url = https://github.com/cannor147/itmo-cpp-substr
[submodule "hw06-duplicate"]
	path = hw06-duplicate
	url = https://github.com/cannor147/itmo-cpp-duplicate
[submodule "exam01-sequence"]
	path = exam01-sequence
	url = git@github.com:cannor147/itmo-cpp-sequence
[submodule "exam01-restore"]
	path = exam01-restore
	url = https://github.com/cannor147/itmo-cpp-restore
