[submodule "hw04-huffman"]
	path = hw04-huffman
	url = git@github.com:cannor147/huffman.git
[submodule "hw02&03-big-integer"]
	path = hw02&03-big-integer
	url = git@github.com:cannor147/big_integer.git
[submodule "hw06-duplicate-checker"]
	path = hw06-duplicate-checker
	url = git@github.com:cannor147/duplicate_checker.git
[submodule "hw05-substring-finder"]
	path = hw05-substring-finder
	url = git@github.com:cannor147/substring_finder.git
[submodule "exam01-sequence"]
	path = exam01-sequence
	url = git@github.com:cannor147/sequence.git
[submodule "exam01-set_restore_guard"]
	path = exam01-set_restore_guard
	url = git@github.com:cannor147/set_restore_guard.git
